<div id="loader-container" style="display: none">
  <span class="loader"></span>
  <p class="loading-text">파일을 검사 중입니다...</p>
</div>

{% extends 'base.html' %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='form.css') }}"
/>

<div class="main-container">
  <div class="main-title-container">
    <p class="main-title">Upload New File</p>
  </div>
  <hr />
      <form method="post" class="form-container" enctype="multipart/form-data">
          {{ form.csrf_token }} {% include "form_errors.html" %}
          <div class="input-container" style="margin: 75px 0 30px;">
            <p class="input-title">File Name</p>
            <input type="text" name="subject" class="input-text" />
          </div>
          <div class="input-container">
            <p class="input-title">File Upload</p>
            <div div class="file-container">
              <input type="file" name="fileContent" class="file-input" id="file_input">
              <p class="file-name"></p>
              <label class="file-label" for="file_input">SEARCH</label>
          
              <script>
                document.getElementById("file_input").addEventListener("change", function() {
                var fileName = this.files[0].name;
                var label = document.querySelector('.file-name');
                label.innerHTML = fileName;
              });
              </script>
          </div>
        </div>
          <button class="main-button" style="margin-top: 50px; 
          padding: 10px 30px;" type="submit" onclick="createLoading()">SAVE</button>
        </form>
      </div>
  </div>
</div>


<script>
  const createLoading = () =>{
    const loader = document.getElementById("loader-container");
      loader.style.display = "flex";
      window.onload = function () {
        loader.style.display = "none";
      };
  }
  document.onpaste = function(pasteEvent) {
    // 첫 번째 항목을 고려합니다(여러 항목에 대해 쉽게 확장할 수 있음)
    var item = pasteEvent.clipboardData.items[0];
 
    if (item.type.indexOf("image") === 0)
    {
        // 이미지의 덩어리를 가져옵니다.
        var blob = item.getAsFile();
 
        // 파일 리더 생성
        var reader = new FileReader();
 
        // onload 이벤트 핸들러 설정
        reader.onload = function(event) {
            // 이미지의 데이터 URL을 가져옵니다.
            let dataURL = event.target.result;

            // 이미지를 File 객체로 변경합니다.
            let files = document.querySelector('#file_input').files;
            let dataTranster = new DataTransfer();
            let copyimg = base64toFile(dataURL, 'temp.png');
            
            dataTranster.items.add(copyimg);
            document.querySelector("p.file-name").innerText = "temp.png"
            document.querySelector('#file_input').files = dataTranster.files;
        };
 
        // 블롭을 데이터 URL로 읽습니다.
        reader.readAsDataURL(blob);
    }
}
function base64toFile(base_data, filename) {

var arr = base_data.split(','),
    mime = arr[0].match(/:(.*?);/)[1],
    bstr = atob(arr[1]),
    n = bstr.length,
    u8arr = new Uint8Array(n);

while(n--){
    u8arr[n] = bstr.charCodeAt(n);
}

return new File([u8arr], filename, {type:mime});
}

</script>
{% endblock %}
