<link rel="stylesheet" href="{{ url_for('static', filename='detail.css') }}" />

<div id="loader-container" style="display: none">
  <span class="loader"></span>
  <p class="loading-text">문제를 생성 중입니다...</p>
</div>

<div id="loader-container2" style="display: none">
  <span class="loader"></span>
  <p class="loading-text">문제를 삭제 중입니다...</p>
</div>

{% extends 'base.html' %} {% block content %}
<div class="main-container">
  <div class="main-title-container">
    <p style="margin: 10px 0 0" class="main-title">{{ question.subject }}</p>
    <div>
      <button class="main-button" onclick="createTest()">Create Test</button>
    </div>
  </div>
  <hr />
</div>
<div id="selectType" style="display: none">
  <p class="type-title">Choose the Type of Question!</p>
  <div class="type-container">
    <button onclick="confirmAndRedirect('{{ question.id }}', 'multiplechoice')">
      01. 객관식 문제
    </button>
    <button onclick="confirmAndRedirect('{{ question.id }}', 'shortanswer')">
      02. 단답식 문제
    </button>
    <button onclick="confirmAndRedirect('{{ question.id }}', 'essayquestion')">
      03. 서술형 문제
    </button>
    <button onclick="confirmAndRedirect('{{ question.id }}', 'custom')">
      04. 커스텀 문제
    </button>
  </div>
  <hr style="width: 100%" />
</div>

<script>
  function confirmAndRedirect(questionId, type) {
    var confirmMessage;
    switch (type) {
      case "multiplechoice":
        confirmMessage = "객관식 문제를 만들겠습니까?";
        break;
      case "shortanswer":
        confirmMessage = "단답식 문제를 만들겠습니까?";
        break;
      case "essayquestion":
        confirmMessage = "서술형 문제를 만들겠습니까?";
        break;
      case "custom":
        confirmMessage = "커스텀 문제를 만들겠습니까?";
        break;
      default:
        confirmMessage = "문제를 만들겠습니까?";
    }

    if (confirm(confirmMessage)) {
      var redirectUrl = "/answer/create/" + questionId + "/" + type;
      window.location.href = redirectUrl;
      const loader = document.getElementById("loader-container");
      loader.style.display = "flex";
      window.onload = function () {
        loader.style.display = "none";
      };
    }
  }
  function confirmAndDelete(answerID) {
    var confirmMessage = "정말 문제를 삭제하시겠습니까?";
    if (confirm(confirmMessage)) {
      var redirectUrl = "/answer/delete/" + answerID;
      window.location.href = redirectUrl;
      const loader = document.getElementById("loader-container2");
      loader.style.display = "flex";

      window.onload = function () {
        loader.style.display = "none";
      };
    }
  }
</script>

<!-- 답변 목록 -->
<p class="question-length">
  {{ question.answer_set|length }}개의 문제가 있습니다.
</p>
<div class="question-container">
  <hr />
  {% for answer in question.answer_set %}
  <div class="question-box">
    <div class="card-body">
      <div class="card-title">Q.</div>
      <div class="card-text">{{ answer.examquestion | safe }}</div>
      <div class="show-button-container" id="hide-button-{{ answer.id }}" style="float: right">
        <button class = "show-button" id="show-button-{{ answer.id }}" onclick="showAnswer('{{ answer.id }}')">Show Answer</button>
      </div>
      <span id="hide-answer-{{ answer.id }}" style="display: none">
      <div class="card-title">A.</div>
      <div class="card-text">{{ answer.examanswer | safe }}</div>
      <div class="card-title">Description</div>
      <div class="card-text">{{ answer.examcomment | safe }}</div>
      <div class="btn-container">
        {% if g.user == answer.user %}
        <a
          href="javascript:confirmAndDelete({{ answer.id }});"
          class="card-button"
          data-uri="{{ url_for('answer.delete', answer_id=answer.id) }}"
          >Delete</a
        >
        <div style="float: right; margin-top: 30px">
        <button class = "show-button" onclick="hideAnswer('{{answer.id}}')">Hide Answer</button>
        </div>
        {% endif %}
      </span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  const createTest = () => {
    const selectType = document.getElementById("selectType");
    if (selectType.style.display == "none") {
      selectType.style.display = "flex";
      selectType.style.flexDirection = "column";
      selectType.style.alignItems = "center";
    } else {
      selectType.style.display = "none";
    }
  };

  const showAnswer = (answerId) =>{
    document.getElementById('hide-answer-' + answerId).style.display = 'block';
    document.getElementById('hide-button-' + answerId).style.display = 'none';
  }

  const hideAnswer = (answerId) =>{
    document.getElementById('hide-answer-' + answerId).style.display = 'none';
    document.getElementById('hide-button-' + answerId).style.display = 'block';
    }
</script>

{% endblock %}
