<link rel="stylesheet" href="{{ url_for('static', filename='detail.css') }}" />

<div id="loader-container" style="display: none">
  <span class="loader"></span>
</div>

{% extends 'base.html' %} {% block content %}
<div class="main-container">
  <div class="main-title-container">
    <p style="margin: 10px 0 0" class="main-title">{{ question.subject }}</p>
    <div>
      <button class="main-button" onclick="createTest()">Create Test</button>
    </div>
  </div>
  <hr />
</div>
<div id="selectType" style="display: none">
  <p class="type-title">Choose the Type of Question!</p>
  <div class="type-container">
    <button onclick="confirmAndRedirect('{{ question.id }}', 'multiplechoice')">
      01. 객관식 문제
    </button>
    <button onclick="confirmAndRedirect('{{ question.id }}', 'shortanswer')">
      02. 단답식 문제
    </button>
    <button onclick="confirmAndRedirect('{{ question.id }}', 'essayquestion')">
      03. 서술형 문제
    </button>
  </div>
  <hr style="width: 100%" />
</div>

<script>
  function confirmAndRedirect(questionId, type) {
    var confirmMessage;
    switch (type) {
      case "multiplechoice":
        confirmMessage = "객관식 문제를 만들겠습니까?";
        break;
      case "shortanswer":
        confirmMessage = "단답식 문제를 만들겠습니까?";
        break;
      case "essayquestion":
        confirmMessage = "서술형 문제를 만들겠습니까?";
        break;
      default:
        confirmMessage = "문제를 만들겠습니까?";
    }

    if (confirm(confirmMessage)) {
      var redirectUrl = "/answer/create/" + questionId + "/" + type;
      window.location.href = redirectUrl;
      const loader = document.getElementById("loader-container");
      loader.style.display = "flex";
      window.onload = function () {
        loader.style.display = "none";
      };
    }
  }
</script>

<!-- 답변 목록 -->
<p class="question-length">
  {{ question.answer_set|length }}개의 문제가 있습니다.
</p>
<div class="question-container">
  <hr />
  {% for answer in question.answer_set %}
  <div class="question-box">
    <div class="card-body">
      <div class="card-title">Q.</div>
      <div class="card-text">{{ answer.examquestion | safe }}</div>
      <div class="card-title">A.</div>
      <div class="card-text">{{ answer.examanswer | safe }}</div>
      <div class="card-title">Description</div>
      <div class="card-text">{{ answer.examcomment | safe }}</div>
      <div class="btn-container">
        <a
          href="javascript:void(0)"
          data-uri="{{ url_for('answer.vote', answer_id=answer.id) }}"
          class="card-button"
        >
          추천
          <span class="badge rounded-pill bg-success"
            >{{ answer.voter|length }}</span
          >
        </a>
        {% if g.user == answer.user %}
        <a
          href="javascript:void(0)"
          class="card-button"
          data-uri="{{ url_for('answer.delete', answer_id=answer.id) }}"
          >삭제</a
        >
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  const createTest = () => {
    const selectType = document.getElementById("selectType");
    if (selectType.style.display == "none") {
      selectType.style.display = "flex";
      selectType.style.flexDirection = "column";
      selectType.style.alignItems = "center";
    } else {
      selectType.style.display = "none";
    }
  };
</script>

{% endblock %}
